<!DOCTYPE html>
<html>
  <head>
    <title>Cooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>GeekCook</h1>
      <%= form_tag({controller:"cooks",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する'  %>
      <% end %>
      <%= link_to "新規投稿へ", new_cook_path %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright © Geeknana All Rights Reserved.</p>
    </footer>
  </body>
</html>
